<div class="row">
  <h2 class="col-sm-12">Add a New Platform</h2>
</div>

<form action="/platforms" method="POST">
  <div class="row">
    <label class="col-sm-2" for="name">*Name: </label>
    <input class="col-sm-4" type="text" name="platform[name]" id="name">
  </div>

  <div class="row">
    <label class="col-sm-2" for="description">Description: </label>
    <input class="col-sm-4" type="text" name="platform[description]" id="description">
  </div>

  <h4>Programs: </h4>
  <% @programs.each do |program| %>
    <input type="checkbox" name="platform[program_ids][]" value="<%= program.id %>" id="<%= program.name %>">
      <%= program.name %>
    </input>
  <% end %><br><br>
  <input class="form-button" type="submit" name="submit" value="Create Platform">
</form>
