h2  {
  margin-bottom: 30px;
}

h1  {
  margin-bottom: 30px;
}

label {
  text-align: left
  padding: 0;
}

.wrapper a {
  margin-bottom: 10px;
  display: inline-block;
  color: black;
  text-decoration: none;
}

a h3 {
  margin: 10px;
}

a:hover {
  text-decoration: none;
  color: white;
  background: #648CB2;
}

.row {
  margin: 15px 0;
}

nav .row {
  margin: 0;
}

body {
  background: #A8D4FF;
}

nav {
  margin: 30px 30px 0 30px;
  padding: 0;
  background: #648CB2;
}

nav span {
  text-align: center;
  display: inline-block;
  color: white;
  padding: 20px 0;
  background: #05607A;
}

nav a {
  display: inline-block;
  text-align: center;
  padding: 20px 0;
  background: #648CB2;
  color: white;
}

nav a:hover {
  text-decoration: none;
  background: #05607A;
}

.wrapper {
  margin: 0 30px;
  background: #E4F2FF;
  padding: 10px 25px 25px 25px;
}

footer {
  margin: 5px 30px;
  float: right;
}

.form-button {
  color: white;
  padding: 5px;
  background: #648CB2;
  border-radius: 5px;
  border: 1px solid #666;
}

.form-button:hover {
  background: #05607A;
  border-color: black;
  cursor: pointer;
}

.button  {
  display: inline-block;
  padding-right: 20px;
}

.button a {
  color: white;
  padding: 5px;
  background: #648CB2;
  border-radius: 5px;
  border: 1px solid #666;
}

.button a:hover {
  text-decoration: none;
  background: #05607A;
  border-color: black;
}

.progress {
  vertical-align: middle;
  margin-bottom: 10px;
}

.logout {
  clear: both;
  float: left;
}

input {
  border-radius: 5px;
  margin-bottom: 10px;
}

.head {
  margin-top: 25px;
}

div p.progress_header {
  margin-top: 30px;
}
