h4 {
  font-weight: bold;
}

h2  {
  margin-bottom: 30px;
}

h1  {
  margin-bottom: 30px;
}

label {
  display: inline;
  text-align: left
  padding: 0;
}

.wrapper a {
  margin-bottom: 10px;
  display: inline-block;
  color: black;
  text-decoration: none;
}

a h3 {
  margin: 10px;
}

a:hover {
  text-decoration: none;
  color: white;
  background: #648CB2;
  transition: background 0.65s, color 0.65s;
}

.row {
  margin: 0;
}

.row .row div {
  padding: 0;
}

nav .row {
  margin: 0;
}

body {
  background: #A8D4FF;
}

nav {
  margin: 30px 30px 0 30px;
  padding: 0;
  background: #648CB2;
}

nav .row div {
  padding: 0;
}

nav p {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  color: white;
  padding: 20px 0;
  background: #05607A;
}

nav a {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  background: #648CB2;
  color: white;
}

nav a:hover {
  text-decoration: none;
  background: #05607A;
}

.wrapper {
  margin: 0 30px;
  background: #E4F2FF;
  padding: 10px 25px 25px 25px;
}

footer {
  margin: 5px 30px;
  float: right;
}

.update {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.form-button {
  color: white;
  padding: 5px;
  background: #648CB2;
  border-radius: 5px;
  border: 1px solid #666;
}

.form-button:hover {
  background: #05607A;
  border-color: black;
  cursor: pointer;
  transition: background 0.65s, color 0.65s;
}

.course {
  height: 30px;
}

.button  {
  display: inline-block;
  padding-right: 20px;
}

.homepage {
  width: 100%;
}

.list {
  width: 100%;
}

a.button {
  color: white;
  padding: 5px;
  background: #648CB2;
  border-radius: 5px;
  border: 1px solid #666;
}

a.button:hover {
  text-decoration: none;
  background: #05607A;
  border-color: black;
}

.progress {
  vertical-align: middle;
  margin-bottom: 10px;
}

.logout {
  clear: both;
  float: left;
}

.head {
  margin-top: 25px;
}

div p.progress_header {
  margin-top: 30px;
}

input {
  border-radius: 5px;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
}

input[type="password"] {
  width: 100%;
}

input[type="checkbox"] {
  display: inline;
  margin: 5px;
}

input[type="radio"] {
  display: inline;
  margin: 5px;
}

input + label {
  font-weight: normal;
}

.hours-of {
  text-align: center;
}

.course {
  padding: 0;
}

.col-sm-1 .hours-of {
  font-size: 13px;
  margin: 0;
  padding-top: 5px;
}

.course p {
  font-size: 13px;
  margin: 0;
  padding-top: 5px;
}

.course:last-child {
  padding: 0 15px;
}

.flash {
  text-align: center;
  margin-top: 20px;
}

p.good {
  color: #159448;
  background: #6BEB9E;
}

p.bad {
  color: #B24640;
  background: #FFE3E2;
}

.title {
  font-weight: bold;
}
