a {
  display: inline-block;
  color: black;
  text-decoration: none;
}

a h3 {
  margin: 10px;
}

a:hover {
  background: #648CB2;
}

body {
  background: #A8D4FF;
}

nav {
  padding: 0;
  background: #648CB2;
}

nav span {
  text-align: center;
  display: inline-block;
  width: 18%;
  color: white;
  padding: 20px 0;
  background: #05607A;
}

nav a {
  display: inline-block;
  text-align: center;
  width: 15.94%;
  padding: 20px 0;
  background: #648CB2;
  color: white;
}

nav a:hover {
  background: #05607A;
}

.wrapper {
  background: #E4F2FF;
  padding: 10px 25px;
}

footer {
  margin: 5px 10px;
  float: right;
}
