<h2>Welcome back, <%= @user.username %>!</h2>
<% @user.programs.uniq.each do |program| %>
  <h3><%= program.name %></h3>
  <% program.courses.each do |course| %>
    <a href="/courses/<%= course.slug %>"><%= course.name %></a><br>
  <% end %>
  <br>
<% end %>
<a href="/courses/new">Add New Course</a>
<a href="/users/logout">Log Out</a>
