<div class="row">
  <h2 class="col-sm-12">Add a New Subject</h2>
</div>

<form action="/subjects" method="POST">
  <div class="row">
    <label class="col-sm-2" for="name">*Name: </label>
    <input class="col-sm-4" type="text" name="subject[name]" id="name">
  </div>

  <div class="row">
    <label class="col-sm-2" for="description">Description: </label>
    <input class="col-sm-4" type="text" name="subject[description]" id="description">
  </div>

  <div class="row">
    <div class="col-sm-3">
      <h4>Courses: </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <% @courses.each do |course| %>
      <input type="checkbox" name="subject[course_ids][]" value="<%= course.id %>" id="<%= course.name %>">
        <%= course.name %>
      </input>
      <% end %><br><br>
    </div>
  </div>
  <div class="row">
    <input class="form-button col-sm-2 col-sm-offset-5" type="submit" name="submit" value="Create Subject">
  </div>
</form>
