<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MOOC Maestro</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <nav>
      <div class="row">
        <div class="col-sm-2">
          <p>MOOC Maestro</p>
        </div>
        <div class="col-sm-2">
          <a href="/users/homepage">My Homepage</a>
        </div>
        <div class="col-sm-2">
          <a href="/courses">Courses</a>
        </div>
        <div class="col-sm-2">
          <a href="/programs">Programs</a>
        </div>
        <div class="col-sm-2">
          <a href="/platforms">Platforms</a>
        </div>
        <div class="col-sm-2">
          <a href="/subjects">Subjects</a>
        </div>
      </div>
    </nav>

    <div class="wrapper clearfix">

        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <% if flash.has?(:good)%>
              <p class="good flash"><%= flash[:good] %></p>
            <% elsif flash.has?(:bad) %>
              <p class="bad flash"><%= flash[:bad] %></p>
            <% end %>
          </div>
        </div>

      <%= yield %>
    </div>
    <footer>
      <small>&copy; 2017 <strong>MOOC Maestro</strong></small>
    </footer>
  </body>
</html>
