<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MOOC Maestro</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <nav>
      <span>MOOC Maestro</span>
      <a href="/users/homepage">My Homepage</a>
      <a href="/courses">Courses</a>
      <a href="/programs">Programs</a>
      <a href="/platforms">Platforms</a>
      <a href="/subjects">Subjects</a>
    </nav>
    <div class="wrapper">
      <%= yield %>
    </div>
    <footer>
      <small>&copy; 2017 <strong>MOOC Maestro</strong></small>
    </footer>
  </body>
</html>
